.error{
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h3{
    text-align: center;
    font-size: 30px;
}

.content img{
    width: 300px;
    margin-top: 30px;
}

.link{
    display: flex;
    justify-content: end;
    margin-right: 380px;
    margin-top: 30px;
}

.hijo{
    text-decoration: none;
    color: black;
}

.hijo:hover{
    text-decoration-line: underline;
}