nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 50px 50px 50px;
}


.logotipo{
    font-size: 30px;
}

.active{
    color: darkgray;
    font-size: 19px;
    text-decoration: none;
}

.active:hover{
    text-decoration-line: underline;
}

.noActive{
    text-decoration: none;
    color: black;
}

.noActive:hover{
    text-decoration-line: underline;
}